<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" routerLink="link">Link</a>
              </li>
        </ul>
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  cristhian
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Sell and purchases</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="register">Register</a>
              </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="top-bar">
    <div class="top-contact">
        <p class="contact-email"><i class="bi bi-envelope pe-1 bi-topbar"></i>candypets@gmail.com</p> 
        <p class="contact-phone"><i class="bi bi-telephone pe-1 bi-topbar"></i>+57 3503337395</p>

    </div>
    <ul class="top-redes">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="bi bi-facebook bi-topbar"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="bi bi-twitter bi-topbar"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                <i class="bi bi-whatsapp bi-topbar"></i>
            </a>
        </li>
    </ul>
</div>
<div class="logo">
    <div class="container2">
        <img class="logo-candypets" src="./imagenes/candy pets (1).png" alt="logo candypets">
    </div>
    <ul class="carrito-de-compras">
        <li class="nav-item-usuario">
            <a class="navegar" href="#">
                <i class="bi bi-search bi-profile"></i>
            </a>
        </li>
        <li class="nav-item-usuario">
            <a class="navegar" href="#">
                <i class="bi bi-cart4 bi-profile"></i>
            </a>
        </li>
        <li class="nav-item-usuario">
            <a class="navegar" href="#">
                <i class="bi bi-person-circle bi-profile"></i>
            </a>
        </li>
    </ul>
</div>
<nav class="nav-menu-horizontal">
    <div class="navbar">
        <div class="navbar-group">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="navbar-redes">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-facebook bi-navbar"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-twitter bi-navbar"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">
                        <i class="bi bi-whatsapp bi-navbar"></i>
                    </a>
                </li>
            </ul> 
        </div>           
        <input type="checkbox" id="menu-toggle" class="menu-toggle visually-hidden">
        <ul class="menu-horizontal menu-list container">
            <li> <a href="inicio">inicio</a></li>
            <li> 
                <a href="catalogo">catalogo</a>
                <ul class="menu-vertical" >
                    <li><a href="#">comida seca</a></li>
                    <li><a href="#">comida humeda</a></li>
                    <li><a href="#">juguetes</a></li>
                    <li><a href="#">paseo</a></li>
                    <li><a href="#">estetica e higiene</a></li>
                    <li><a href="#">accesorios</a></li>
                    <li><a href="#">medicamentos</a></li>
                </ul>
            </li> 
            <li> 
                <a href="marcas">marcas</a>
                <ul class="menu-vertical" >
                    <li><a href="#">hills</a></li>
                    <li><a href="#">royal cannin</a></li>
                    <li><a href="#">taste of the wild</a></li>
                    <li><a href="#">purina</a></li>
                    <li><a href="#">nutra nuggets</a></li>
                    <li><a href="#">agility gold</a></li>
                    <li><a href="#">max</a></li>
                </ul>
            </li>
            <li> 
                <a href="perros">perros</a>
                <ul class="menu-vertical" >
                    <li><a href="#">alimento seco</a></li>
                    <li><a href="#">alimeto humedo</a></li>
                    <li><a href="#">snaks</a></li>
                    <li><a href="#">salud</a></li>
                    <li><a href="#">higiene y cuidado</a></li>
                    <li><a href="#">accesorios</a></li>
                </ul>
            </li>
            <li> 
                <a href="gatos">gatos</a>
                <ul class="menu-vertical" >
                     <li><a href="#">alimento seco</a></li>
                     <li><a href="#">alimeto humedo</a></li>
                     <li><a href="#">snaks</a></li>
                     <li><a href="#">salud</a></li>
                     <li><a href="#">higiene y cuidado</a></li>
                     <li><a href="#">accesorios</a></li>
                </ul>
            </li>
            <li> 
                <a href="servicios">servicios</a>
                <ul class="menu-vertical" >
                    <li><a href="#">adopciones</a></li>
                    <li><a href="#">afiliacion VIP</a></li>
                    <li><a href="#">baño y peluqueria</a></li>
               </ul>
            </li>

            <li> <a href="promociones">promociones</a></li>
            <li> <a href="blog">blog</a></li>
        </ul>
    </div>
</nav>

