<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <p class="collapse navbar-collapse" id="navbarSupportedContent">
        Copyright 2023 &copy; <a class="nav-link" href="#">Store</a>, Todos los derechos reservados.
      </p>
    </div>
</nav>

<footer class="footer">
    <div class="container">
    <div class="footer-row">
        <div class="footer-links">
        <h4>Informacion</h4>
        <ul>
            <li><a href="#">Historia</a></li>
            <li><a href="#">Reconocimientos</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Distribucion</a></li>
        </ul>
        </div>

        <div class="footer-links">
        <h4>Servicio a Clientes</h4>
        <ul>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Lista de Deseos</a></li>
            <li><a href="#">Mapa del Sitio</a></li>
        </ul>
        </div>

        <div class="footer-links">
        <h4>Contactanos</h4>
        <ul>
            <li><a href="#">Tel: 000 123 456789</a></li>
            <li><a href="#">Lunes a Viernes 09:30am - 07:30pm</a></li>
            <li><a href="#">support@candy-pets.fake</a></li>
            <li><a href="#">Calle 2 Buena Vista Dr</a></li>
        </ul>
        </div>

        <div class="footer-links">
        <h4>Redes sociales</h4>
        <div class="social-link">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-twitch"></i></a>
        </div>
        </div>
    </div>
    </div>
</footer>
